/* relatorio.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
}
.home{
    width: 100%;
    display: flex;
    margin-top: 2%;
  }
  
  .btn-home{
    margin-left: 8%;
    
  }
.container {
    max-width: 900px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.table {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table th, .table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    background-color: #f8f9fa;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

h4 {
    font-weight: bold;
    color: #343a40;
}

#totalVendas, #totalLucro {
    font-size: 1.2rem;
    font-weight: bold;
}
